1. Define a function named is_two. It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

In [78]:
def is_two(input):
    return input == 2 or input == '2'

is_two(2)

True

In [79]:
is_two(7)

False

2. Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise.

In [80]:
def is_vowel(input):
    vowels = 'aieouAEIOU'
    return input in vowels

is_vowel('t')

False

In [81]:
is_vowel('i')

True

3. Define a function named is_consonant. It should return True if the passed string is a consonant, False otherwise. Use your is_vowel function to accomplish this.

In [82]:
def is_consonant(input):
    return not is_vowel(input)

is_consonant('s')

True

In [83]:
is_consonant('i')

False

4. Define a function that accepts a string that is a word. The function should capitalize the first letter of the word if the word starts with a consonant.

In [84]:
def capitalize_consonant(input):
    vowels = 'aeiouAEIOU'
    if input and input[0] not in vowels:
        return input[0].upper() + input[1:]
    else:
        return input
    
capitalize_consonant("football")

'Football'

In [85]:
capitalize_consonant("astronaut")

'astronaut'

5. Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) and the bill total, and return the amount to tip.

In [39]:
def calculate_tip(tip_percentage, bill_total):
    if 0 <= tip_percentage <= 1:
        return tip_percentage * bill_total
    else:
        return "Invalid tip percentage"
    
calculate_tip(0.15,35)

5.25

6. Define a function named apply_discount. It should accept a original price, and a discount percentage, and return the price after the discount is applied.

In [41]:
def apply_discount(original_price, discount_percentage):
    if 0 <= discount_percentage <=1:
        discount_amount = original_price * discount_percentage 
        return original_price - discount_amount 
    
apply_discount(56, 0.25)

42.0

7. Define a function named handle_commas. It should accept a string that is a number that contains commas in it as input, and return a number as output.

In [91]:
def handle_commas(number_str):
    
    number_str = number_str.replace(',', '')
    try:
        number = float(number_str)
        return number
    except ValueError:
        return "Invalid input"
    
handle_commas('5,657,434')

5657434.0

8. Define a function named get_letter_grade. It should accept a number and return the letter grade associated with that number (A-F).

In [64]:
def get_letter_grade(numerical_grade):
    if 90 <= numerical_grade <= 100:
        return 'A'
    elif 80 <= numerical_grade < 90:
        return 'B'
    elif 70 <= numerical_grade < 80:
        return 'C'
    elif 60 <= numerical_grade < 70:
        return 'D'
    elif 0 <= numerical_grade < 60:
        return 'F'
    else:
        return 'Invalid'

get_letter_grade(99)

'A'

9. Define a function named remove_vowels that accepts a string and returns a string with all the vowels removed.

In [55]:
def remove_vowels(input_string):
    vowels = "AEIOUaeiou" 
    return ''.join(char for char in input_string if char not in vowels)

remove_vowels('Codeup Data Science')

'Cdp Dt Scnc'

10. Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:
anything that is not a valid python identifier should be removed
leading and trailing whitespace should be removed
everything should be lowercase
spaces should be replaced with underscores
for example:
Name will become name
First Name will become first_name
% Completed will become completed

In [59]:
def normalize_name(input_string):
    # Remove leading and trailing whitespace, lowercase the string, and replace spaces with underscores
    normalized_string = input_string.strip().lower().replace(" ", "_")
    
    # Remove any non-alphanumeric and non-underscore characters
    normalized_string = ''.join(char for char in normalized_string if char.isalnum() or char == '_')
    
    return normalized_string

normalize_name('Ryan Poole')

'ryan_poole'

11. Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
cumulative_sum([1, 1, 1]) returns [1, 2, 3]
cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [67]:
def cumulative_sum(numbers):
    cumulative = []
    total = 0

    for num in numbers:
        total += num
        cumulative.append(total)

    return cumulative

cumulative_sum([1, 5, 10, 15])

[1, 6, 16, 31]

Bonus
Create a function named twelveto24. It should accept a string in the format 10:45am or 4:30pm and return a string that is the representation of the time in a 24-hour format. Bonus write a function that does the opposite.

In [77]:
def twelveto24(time_str):
    if time_str[-2:].lower() == 'am':
        if time_str[:2] == '12':
            return '00' + time_str[2:-2]
        else:
            return time_str[:-2]
    else:  
        if time_str[:2] == '12':
            return time_str[:-2]
        else:
            hour = int(time_str[:2]) + 12
            return str(hour) + time_str[2:-2]


twelveto24("07:25pm")

'19:25'

In [86]:
twelveto24("07:25am")

'07:25'

Create a function named col_index. It should accept a spreadsheet column name, and return the index number of the column.
col_index('A') returns 1
col_index('B') returns 2
col_index('AA') returns 27

In [90]:
def col_index(column_name):
    column_name = column_name.upper()
    index = 0

    for char in column_name:
        index = index * 26 + (ord(char) - ord('A') + 1)

    return index

print(col_index('A'))

print(col_index('B'))

print(col_index('AA'))

1
2
27